<div class="center hero-unit">
  <h1>Welcome to 6320!</h1>

  <h2>
    This is the home page for the
    server in 6320. 
  </h2>

  <%= link_to image_tag("home.jpg", alt: "MORE BEEF THAN UR MOMZ PANTIES"), 'https://vikingchristmasrifle.club' %>

  <h2>
    Links for services appear at the upper left, and links at the upper right provide information about taking advantage of this server's resources. New users should check out the Media Tutorial first. 
  </h2>
   
</div>

