<div class="row">
<div class="span4 offset2">
<h1>Server and Network Management Web Interfaces</h1>
<p>The following is a list of links to critical server and network management web interfaces. These links only work when you are on the network. If you do not know the credentials for an interface, you are probably not welcome to access it.</p>
<div class="center">
<h2>Router</h2>
<a href="http://192.168.1.1">http://192.168.1.1</a>

<h2>Server IPMI</h2>
<a href="http://192.168.1.239">http://192.168.1.239</a>

<h2>Unraid</h2>
<a href="http://192.168.1.241">http://192.168.1.241</a>

<h2>NzbDrone</h2>
<a href="http://192.168.1.242:8989">http://192.168.1.242:8989</a>

<h2>Sabnzbd</h2>
<a href="https://192.168.1.242:9090">https://192.168.1.242:9090</a>

<h2>Couch Potato</h2>
<a href="http://192.168.1.242:5050">http://192.168.1.242:5050</a>

<h2>Plex Server</h2>
<a href="http://192.168.1.242:32400/manage/">http://192.168.1.242:32400/manage/</a>

<h2>OpenNebula</h2>
<a href="http://192.168.1.240:noideayet">http://192.168.1.240:noideayet</a>
</div>
</div>

<div class="span4 offset1">
<h1>IP Addresses</h1>
<p>The following is a list of important, static IP addresses. These are all internal, so they are worth nothing to anyone besides us. If you don't know the credentials for a machine, you are probably not welcome on it.</p> 

<div class="center">
<h2>Dedicated IPMI</h2>
<p>192.168.1.239</p>

<h2>Monolith - Hypervisor</h2>
<p>192.168.1.240</p>

<h2>Unraid</h2>
<p>192.168.1.241</p>

<h2>Usenet App Server</h2>
<p>192.168.1.242</p>

<h2>Virtualized Windows</h2>
<p>192.168.1.243</p>

<h2>Web Server</h2>
<p>192.168.1.244</p>
</div>
</div>
</div>
