<div class="row span8 offset2">

<h1>RDP/SSH</h1>
<p>For security purposes, you should VPN into the network to RDP or SSH into any machines. Check the intranet page for fixed internal IP addresses to configure the connections.</p>

<h1>VPN</h1>
<p>VPN allows you to act like you are connected to the home network when you are not at home. This is helpful for remoting into machines securely, and to securely tunnel internet traffic that you don't want others to see to our network (e.g., visiting your bank website on public wifi, or porn at work).</p>

<p>If you own a windows machine, simply type vpn at the start screen and select the option to manage VPN connections. Input <i>vikingchristmasrifle.club</i> as the server address, microsoft for the server type, and the credentials for this website as the username and password (text Phil if you need reminded). Then just go to your network settings (where you connect to wifi) and choose to connect to the new VPN connection you configured.</p>

<p>If you use a Mac, instructions are <a href="http://wiki.mcs.anl.gov/IT/index.php/Mac_OS_X_Built-In_Cisco_VPN_Client">here</a> for configuring a VPN connection.</p> 


</div>
