<div class="row span8 offset2">
<h1>Remote Control Instructions</h1>

<p>There are two main modes on the remote (that are used): TV and Xbox (labeled on the remote as DVD). By selecting the tv or DVD buttons near the top of the remote, you will toggle between the two modes. The TV mode controls the Over-the-Air broadcast and media streamed from the server. DVD mode controls the Xbox One. The following two sections show the controls for each set.</p>
</div>


<div class="row">
    <div class="span6">
	<h2>TV Mode Buttons</h2>
	<div class="center"><%= image_tag("tv_remote.jpg", :alt => "tv remote layout", :size =>"472x700" ) %>
	</div>
    </div>

    <div class="span6">
	<h2>Xbox Mode Buttons</h2>
	<div class="center"><%= image_tag("xbox_remote.jpg", :alt => "xbox remote layout", :size=>"472x700") %></div>
    </div>
</div>

