<div class="row span8 offset2">
<h1>Watch TV in the Living Room</h1>

<p class="center">There are several ways to watch TV in the living room. These include:

<h2>HD Over-the-Air broadcasts</h2>
<p>To watch OTA broadcasts, simply change the TV input to the 'ANT/CABLE' setting using the 'TV/Video' button at the top of the remote. This is regular ol' tv, ya dummy, so it works as you'd expect. Well, if the xbox is not on, you must adjust the volume on the amp manually. Just yell 'xbox on' if that's the case, and the volume controls will work.</p>

<h2>TV/Movies hosted from the Media Server</h2>
<p>To access the movies on the media server, you must first power on the xbox by yelling 'xbox on'. Then yell 'xbox watch tv'. The remote control instructions provide details how to navigate around (hint: it's mostly the directional keys, ok, and exit). If the remote is not responding at all, make sure you are in TV mode by pressing the 'TV' button near the top. The kinect also works for playback controls, so you can say "xbox pause/play/rewind/forward" while watching movies. BTW, this is actually a full computer with steam games on it, so free to grab the keyboard and alt/tab to glory!</p>

<h2>Streamed TV/Movies from Netflix/Amazon</h2>
<p>To stream stuff, you can follow the instructions above and just load whatever streaming website of your choice in a browser. OR, the easy way is to just power on the xbox ('xbox on'), then yell 'sign in as philip'. Then you can yell 'go to netflix' or 'go to amazon instant streaming', and it will work. If you press the 'DVD' button near the top of the remote, then it will control the xbox. Or you can voice navigate your way around netflix. If unsure how to voice navigate, just yell 'xbox' and it will show some helpful commands.</p> 

<h1>Powering Down</h1>
<p>If you are simply watching broadcast TV, then press the power button on the remote (while in TV mode) to turn it off.</p>

<p>Otherwise, if you power down the Xbox One, it will also power down the TV. You can do this by yelling 'xbox turn off' (then confirm by yelling 'yes'). Or you can select the DVD mode of the remote, and hold the power button. Then select the 'turn off console' option.</p>

</div>
